.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.346191;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.383301;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:60.000000px;}
.fs2{font-size:66.000000px;}
.fs1{font-size:102.000000px;}
.y15{bottom:108.151000px;}
.y14{bottom:153.253000px;}
.y13{bottom:172.894000px;}
.y12{bottom:218.194000px;}
.y11{bottom:237.955000px;}
.y10{bottom:283.096000px;}
.yf{bottom:302.857000px;}
.ye{bottom:347.959000px;}
.yd{bottom:367.561000px;}
.yc{bottom:387.163000px;}
.yb{bottom:406.765000px;}
.ya{bottom:426.367000px;}
.y9{bottom:471.469000px;}
.y8{bottom:518.709000px;}
.y7{bottom:635.908000px;}
.y6{bottom:653.764000px;}
.y5{bottom:671.764000px;}
.y4{bottom:689.764000px;}
.y0{bottom:705.000000px;}
.y3{bottom:707.764000px;}
.y2{bottom:725.764000px;}
.y1{bottom:743.728000px;}
.h1{height:53.000000px;}
.h2{height:62.373047px;}
.h4{height:68.610352px;}
.h5{height:69.673828px;}
.h3{height:107.677734px;}
.h0{height:792.000000px;}
.w1{width:263.000000px;}
.w0{width:612.000000px;}
.x0{left:34.000000px;}
.x2{left:190.561000px;}
.x1{left:371.516000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
.fs0{font-size:80.000000pt;}
.fs2{font-size:88.000000pt;}
.fs1{font-size:136.000000pt;}
.y15{bottom:144.201333pt;}
.y14{bottom:204.337333pt;}
.y13{bottom:230.525333pt;}
.y12{bottom:290.925333pt;}
.y11{bottom:317.273333pt;}
.y10{bottom:377.461333pt;}
.yf{bottom:403.809333pt;}
.ye{bottom:463.945333pt;}
.yd{bottom:490.081333pt;}
.yc{bottom:516.217333pt;}
.yb{bottom:542.353333pt;}
.ya{bottom:568.489333pt;}
.y9{bottom:628.625333pt;}
.y8{bottom:691.612000pt;}
.y7{bottom:847.877333pt;}
.y6{bottom:871.685333pt;}
.y5{bottom:895.685333pt;}
.y4{bottom:919.685333pt;}
.y0{bottom:940.000000pt;}
.y3{bottom:943.685333pt;}
.y2{bottom:967.685333pt;}
.y1{bottom:991.637333pt;}
.h1{height:70.666667pt;}
.h2{height:83.164062pt;}
.h4{height:91.480469pt;}
.h5{height:92.898438pt;}
.h3{height:143.570312pt;}
.h0{height:1056.000000pt;}
.w1{width:350.666667pt;}
.w0{width:816.000000pt;}
.x0{left:45.333333pt;}
.x2{left:254.081333pt;}
.x1{left:495.354667pt;}
}
